In [1]:
import s3fs
import pandas as pd

/Users/rendo/Library/DataScienceStudio9/code-envs/python/Py36/lib/python3.6/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [10]:
key = 'AKIA5G7CKA4JRFRU47J2'
secret = 'tZJWrRPOD6ahG64V9/d9Sjbn3bANVwipptjXl0h/'

s3 = s3fs.S3FileSystem(key=key,
    secret=secret)

def get_dfS3(filename):
    with s3.open('dku-support-availability/dataiku/EVERYTHING/'+filename+'/out-s0.csv', 'rb') as f:
        #g = gzip.GzipFile(fileobj=f)
        df = pd.read_csv(f,sep='\t')   #empty column names
    return df

In [11]:
df = get_dfS3('s3_active')
#df = get_dfS3('test_int_prepared')

In [12]:
print(df)

    100788  Active            Alexandru Tautu                    Alex Tautu  \
0   101447  Active   Alvaro AndresNinoMendoza    Álvaro Andrés Niño Mendoza
1   100619  Active            Andrew Marriage               Andrew Marriage
2   100223  Active                Andrew Tsao                   Andrew Tsao
3   101450  Active         Catalina Smeureanu            Catalina SMEUREANU
4   101563  Active           Corinne Chaumont              Corinne Chaumont
5   100949  Active              Daniel Graham                 Daniel Graham
6   101598  Active            Denys Danchenko               Denys Danchenko
7   100774  Active               Elias Habash                  Elias Habash
8   101111  Active                Huixian Pan                   Huixian Pan
9   101357  Active            Ismayil Tahirov               Ismayil Tahirov
10  101575  Active               Jake Ahearne                  Jake Ahearne
11  100045  Active          Jean-Yves Gerardy             Jean-Yves Gerardy
12  101530  Active               Jordan Burke                  Jordan Burke
13  100918  Active           Juan EirosZamora             Juan Eiros Zamora
14  100926  Active              Keiji Yoshida                 Keiji Yoshida
15  100210  Active              Kimberly Chen                Kimberley Chen
16  101582  Active         Matias LlahiDeLaet          Matias Llahi De Laet
17  101409  Active           Michael Gallegos              Michael Gallegos
18  101414  Active  Miguel AngelAlvoCarrascal  Miguel Angel CALVO CARRASCAL
19  100860  Active                   Roy Endo                      Roy Endo
20  101099  Active               Santosh Kale                  Santosh Kale
21  100618  Active              Sarina Sinick                 Sarina Sinick
22  100568  Active           Sergey Dyshlevyi              Sergey Dyshlevyi
23  101374  Active              Takafumi Ishi                 Takafumi Ishi
24  100752  Active             Vitaliy Dranko                Vitaliy Dranko
25  101513  Active           Wataru Sekiguchi              Wataru Sekiguchi
26  100348  Active              YoungSang Lee                Young Sang Lee
27  101536  Active      Zachary DavidMcCallen                 Zach McCallen
28  101380  Active    Zakaria ElAmineChentouf              Zakaria CHENTOUF

               alexandru.tautu@dataiku.com  \
0                  alvaro.nino@dataiku.com
1              andrew.marriage@dataiku.com
2                  andrew.tsao@dataiku.com
3           catalina.smeureanu@dataiku.com
4             corinne.chaumont@dataiku.com
5                daniel.graham@dataiku.com
6              denys.danchenko@dataiku.com
7                 elias.habash@dataiku.com
8                  huixian.pan@dataiku.com
9              ismayil.tahirov@dataiku.com
10                jake.ahearne@dataiku.com
11           jean-yves.gerardy@dataiku.com
12                jordan.burke@dataiku.com
13                  juan.eiros@dataiku.com
14               keiji.yoshida@dataiku.com
15              kimberley.chen@dataiku.com
16          matias.llahidelaet@dataiku.com
17            michael.gallegos@dataiku.com
18  miguelangel.calvocarrascal@dataiku.com
19                    roy.endo@dataiku.com
20                santosh.kale@dataiku.com
21               sarina.sinick@dataiku.com
22            sergey.dyshlevyi@dataiku.com
23               takafumi.ishi@dataiku.com
24              vitaliy.dranko@dataiku.com
25            wataru.sekiguchi@dataiku.com
26              young-sang.lee@dataiku.com
27               zach.mccallen@dataiku.com
28            zakaria.chentouf@dataiku.com

                       Support Team Lead  Technical Support  \
0             Technical Support Engineer  Technical Support
1                      Support Team Lead  Technical Support
2                   VP Technical Support  Technical Support
3             Technical Support Engineer  Technical Support
4      Senior Technical Support Engineer  Technical Support
5             Technical Support Engineer  Technical Support
6      Senior Technical Support Engineer  Technical Support
7             Technical Support Engineer  Technical Support
8      Senior Technical Support Engineer  Technical Support
9             Technical Support Engineer  Technical Support
10         Junior Cloud Support Engineer  Technical Support
11            Technical Support Engineer  Technical Support
12            Technical Support Engineer  Technical Support
13            Technical Support Engineer  Technical Support
14                     Support Team Lead  Technical Support
15  Director of Support, Americas & EMEA  Technical Support
16                Cloud Support Engineer  Technical Support
17     Senior Technical Support Engineer  Technical Support
18            Technical Support Engineer  Technical Support
19            Technical Support Engineer  Technical Support
20            Technical Support Engineer  Technical Support
21                     Support Team Lead  Technical Support
22     Senior Technical Support Engineer  Technical Support
23     Senior Technical Support Engineer  Technical Support
24     Senior Technical Support Engineer  Technical Support
25     Senior Technical Support Engineer  Technical Support
26                     Support Team Lead  Technical Support
27     Junior Technical Support Engineer  Technical Support
28            Technical Support Engineer  Technical Support

                      GMT Ireland Time (Dublin)  \
0      GMT+02:00 Eastern European Time (Athens)
1             GMT-05:00 Eastern Time (New York)
2        GMT+09:00 Korean Standard Time (Seoul)
3   GMT+01:00 Central European Time (Amsterdam)
4          GMT-08:00 Pacific Time (Los Angeles)
5             GMT-05:00 Eastern Time (New York)
6    GMT+01:00 Central European Time (Belgrade)
7          GMT-08:00 Pacific Time (Los Angeles)
8          GMT-08:00 Pacific Time (Los Angeles)
9             GMT-05:00 Eastern Time (New York)
10             GMT-06:00 Central Time (Chicago)
11            GMT-05:00 Eastern Time (New York)
12            GMT-05:00 Eastern Time (New York)
13      GMT+01:00 Central European Time (Paris)
14        GMT+09:00 Japan Standard Time (Tokyo)
15             GMT United Kingdom Time (London)
16      GMT+01:00 Central European Time (Paris)
17         GMT-08:00 Pacific Time (Los Angeles)
18     GMT+02:00 Eastern European Time (Athens)
19        GMT+09:00 Japan Standard Time (Tokyo)
20      GMT+05:30 India Standard Time (Kolkata)
21         GMT-08:00 Pacific Time (Los Angeles)
22  GMT+01:00 Central European Time (Amsterdam)
23        GMT+09:00 Japan Standard Time (Tokyo)
24                    GMT Ireland Time (Dublin)
25        GMT+09:00 Japan Standard Time (Tokyo)
26       GMT+09:00 Korean Standard Time (Seoul)
27             GMT-06:00 Central Time (Chicago)
28     GMT+01:00 Central European Time (Zurich)

                             IE - Remote       Dublin     Unnamed: 10  \
0                 ES - Valencia - Remote     Valencia             NaN
1                  US - Georgia - Remote      Atlanta         Georgia
2                            KR - Remote        Seoul             NaN
3                            NL - Remote    Amsterdam             NaN
4               US - California - Remote   Sacramento      California
5      US - NY - New York - 902 Broadway     New York        New York
6                            UA - Remote         Kiev             NaN
7               US - California - Remote   Sacramento      California
8               US - California - Remote   Sacramento      California
9           US - North Carolina - Remote      Raleigh  North Carolina
10                   US - Texas - Remote       Austin           Texas
11     US - NY - New York - 902 Broadway     New York        New York
12                US - New York - Remote       Albany        New York
13               ES - Catalonia - Remote    Barcelona             NaN
14                           JP - Remote        Tokyo             NaN
15            UK - London - 6 Devonshire       London             NaN
16                FR - Paris - 203 Bercy        Paris             NaN
17                  US - Oregon - Remote        Salem          Oregon
18                ES - Valencia - Remote     Valencia             NaN
19                           JP - Remote        Tokyo             NaN
20             IN - Maharashtra - Remote          NaN             NaN
21              US - California - Remote   Sacramento      California
22  NL - Amsterdam - Strawinskylaan 4117    Amsterdam             NaN
23                           JP - Remote        Tokyo             NaN
24                           IE - Remote       Dublin             NaN
25                           JP - Remote        Tokyo             NaN
26                           KR - Remote        Seoul             NaN
27                US - Illinois - Remote  Springfield        Illinois
28                           CH - Remote         Bern             NaN

                     Ireland      EMEA  U01SNE0710X
0                      Spain      EMEA          NaN
1   United States of America  AMERICAS  U01FTNG22V9
2         Korea, Republic of      APAC    UDU13JU80
3                Netherlands      EMEA          NaN
4   United States of America  AMERICAS          NaN
5   United States of America  AMERICAS  U029WAUE7CL
6                    Ukraine      EMEA          NaN
7   United States of America  AMERICAS  U01SQEBD6PR
8   United States of America  AMERICAS  U02HMM0S7DL
9   United States of America  AMERICAS  U035NKLA22F
10  United States of America  AMERICAS          NaN
11  United States of America  AMERICAS    UDUNU7LAW
12  United States of America  AMERICAS          NaN
13                     Spain      EMEA  U026RMF92BY
14                     Japan      APAC  U026Y5K5UCW
15            United Kingdom      EMEA    UCV6M5XBP
16                    France      EMEA          NaN
17  United States of America  AMERICAS  U038ND1NFGC
18                     Spain      EMEA          NaN
19                     Japan      APAC  U023K3C1RUL
20                     India      APAC  U02GJAC1YLA
21  United States of America  AMERICAS  U01F9BJ6TE1
22               Netherlands      EMEA  U014J8B4AV8
23                     Japan      APAC  U0390JT07MX
24                   Ireland      EMEA  U01PUTLR78R
25                     Japan      APAC          NaN
26        Korea, Republic of      APAC    UL22M3JMB
27  United States of America  AMERICAS          NaN
28               Switzerland      EMEA          NaN

In [27]:
for row in df.iterrows():
    print(row)

AttributeError: 'NoneType' object has no attribute 'iterrows'